
<%= render 'shared/navbarhome' %>
<div class="hideme">
  <div class="choose-perfect">
    <h1>CHOOSE THE <br>PERFECT <br><span style="text-decoration: underline #EF7E56">HIKE FOR YOU</h1>
  </div>

  <div id="search-index" class="search form-inline-hike">
    <%= form_tag hikes_path, method: :get, autocomplete: "off" do %>
        <%= text_field_tag( :city, params[:city], class: "search-index hike-dropdown", placeholder: "City")%>
        <%= select_tag :category, options_for_select(["Easy", "Intermediate", "Advanced"], params[:category]), {:include_blank => "Difficulty Level", class: "form-control form-dropdown hike-dropdown"}%>
        <%= select_tag :distance, options_for_select([100, 150, 200, 250], params[:distance]), {:include_blank => "Distance", class: "form-control form-dropdown hike-dropdown"}%>
        <%= submit_tag( "Search" , class: "btn-index") %>
      <% end %>
  </div>
</div>
<div id="map" style="width: 100%; height: 292px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container slide-show">
  <div class="full hide-scroll">
    <h1>We found <span class="underline">these hikes</span> for you</h1>
    <ul class="hs targetDiv">
      <% @hikes.each do |hike| %>
        <li class="item">
          <%= link_to(hike_path(hike.id), style: "background-image: url('#{image_url(hike.photo)}');height: 280px;background-size: cover;background-position: bottom;border-radius: 25px;") do %>
            <%# cl_image_tag(hike.photo, height: 236, width: 248, crop: :fill, class: "hike-photo") %>
            <h4 class="hike-name"><%= hike.name %></h4>
          <% end %>
          <div class="hike-infos">
            <div class="icon-left">
              <p>
                <%=image_tag("trekking.svg", class: "hike-icon") %>
                <%= hike.category.capitalize %>
              </p>
              <p>
                <%=image_tag("clock.svg", class: "hike-icon") %>
                  <%= hike.length%> hrs
              </p>
              <p>
                <%=image_tag("distance.svg", class: "hike-icon") %>
                <%= hike.km %>km
              </p>
            </div>
            <div class="icon-heart">
              <div id="show-icon" class="show-icon">
                <% unless current_user.nil? %>
                <%= render 'favourites/form', hike: hike, favourite: @favourite %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">

  const setGrids = (count) => {
    const element = document.querySelector('.targetDiv');
    element.style.gridTemplateColumns = `10px repeat(${count}, calc(100% - var(--gutter) * 2)) 10px`;

  }
  window.onload = setGrids(<%= @hikes.length %>);


</script>
<%= javascript_pack_tag "fade" %>
