    <%= render 'shared/navbar' %>

<div class="app-container">
  <div class="hike-image" style= "background-image: url('<%=image_url(@hike.photo)%>');height: 60vh;background-size: cover;background-position: bottom; position: relative" >
  </div>
    <div class="show-card-white">
      <div class="content hidemeez">
        <div class="show-info">
          <div class="show-category">
            <div id="show-icon" class="show-icon">
              <% unless current_user.nil? %>
                <%= render 'favourites/form', hike: @hike, favourite: @favourite %>
              <% end %>
            </div>
              <p><strong><%= @hike.name %></strong></p>
              <h4><%= @hike.city %></h4>
            </div>
            <div class="row showrow">
              <div class="col-xs-4 col-sm-4 col-md-4 centerrr">
                <div class="show-dude" 'text-center'>
                  <%=image_tag("trekking.svg", class: "hike-icons") %>
                  <p><%= @hike.category.capitalize %></p>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 centerrr">
                <div class="show-length" 'text-center'>
                  <% if @hike.length < 60 %>
                    <p><%= @hike.length %> mins</p>
                  <% elsif (@hike.length >= 60 && @hike.length % 60 == 0) %>
                    <%=image_tag("clock.svg", class: "hike-icons") %>
                    <p><%= @hike.length / 60 %> hrs</p>
                  <% else %>
                    <p><%=  @hike.length / 60 %> hrs and <%= @hike.length % 60 %> mins</p>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 centerrr">
                <div class="show-km" 'text-center'>
                  <%=image_tag("distance.svg", class: "hike-icons") %>
                  <p><%= @hike.km %>km</p>
                </div>
              </div>
            </div>
            <div class="show-description">
              <p><strong>Description</strong></p>
              <p><%= @hike.description %></p>
            </div>
          </div>
        </div>
      </div>
  <!-- All buttons -->
      <div class="container-btns">
        <button type="button" class="what-bring-btn" data-toggle="modal" data-target="#myModal"><span style="margin-top: auto; margin-bottom: auto;">WHAT TO BRING?</span></button>
        <button type="button" class="what-bring-btn" data-toggle="modal" data-target="#myDirections">GET DIRECTIONS</button>
      </div>
  <!-- START Content about Review form  -->
  <div class="containers">
    <!-- Modal -->
    <div class="modal fade" id="myModalReviews" role="dialog">
      <div class=modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <% if current_user.present? %>
            <h1 class="modal-title">Add review</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <%= simple_form_for([@hike, @review]) do |f| %>
              <div>
                <img class="review-avatar" src= <%= current_user.photo %> >
                <h1><strong><%= current_user.first_name.capitalize %></strong></h1>
              </div>

              <div>
                 <%= f.input :content, class: "commentinput"%>
                 <%= f.input :stars, input_html: { class: "hidden" }, label: false %>
              </div>

              <br>
              <br>
                <ul class="rating">
                  <li class="star" value="1" id="star1"><i class="fas fa-star"></i></li>
                   <li class="star" value="2" id="star2"><i class="fas fa-star"></i></li>
                   <li class="star" value="3" id="star3"><i class="fas fa-star"></i></li>
                   <li class="star" value="4" id="star4"><i class="fas fa-star"></i></li>
                   <li class="star" value="5" id="star5"><i class="fas fa-star"></i></li>
                </ul>
              <br>
              <%= f.submit class: "btn btn-review" %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- END Content about Review form  -->

  <!-- START photo form -->

     <div class="modal fade" id="myModalPicture" role="dialog">
      <div class=modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <% if current_user.present? %>
            <h1 class="modal-title">Add Picture</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
  <%= simple_form_for([@hike, @user, @picture]) do |f| %>

              <div>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :description, class: "form-control" %>
              </div>
              <%= f.submit class: "btn btn-review" %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- END photo form -->

  <!-- START Content about what to bring ? -->
  <div class="containers">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class=modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-style">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">What to bring:</h1>
            <div class="what-to-bring">
              <div class="input">
                <input type="checkbox" name="shoes" value="Shoes" id="shoes"> SHOES<br>
              </div>
              <div class="input">
                <input type="checkbox" name="water" value="Water" id="water"> WATER<br>
              </div>
              <div class="input">
                <input type="checkbox" name="food" value="Food" id="food"> FOOD<br>
              </div>
              <div class="input">
                <input type="checkbox" name="camera" value="Camera" id="camera"> CAMERA<br>
              </div>
              <div class="input">
                <input type="checkbox" name="your_date" value="Your_date" id="date"> YOUR DATE<br>
              </div>
              <div class="input">
                <input type="checkbox" name="sunscreen" value="Sunscreen" id="sunscreen"> SUNSCREEN<br>
              </div>
              <div class="input">
                <input type="checkbox" name="mosquitorepellent" value="mosquitorepellent" id="mosquitorepellent">MOSQUITO REPELLENT<br>
              </div>
              <div class="input">
                <input type="checkbox" name="hat" value="Hat" id="hat">HAT<br>
              </div>
            </div>

            <p>YOU ARE <span class="counter"> </span> READY FOR YOUR HIKE.</p>
            <div id="progress" style="background-color: rgba(222, 213, 196, 0.5); width: 100; height: 20px">
              <div id="dontProgress" style="background-color: #EF7E56; width: 0%; height: 20px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert" role="alert" id="result"></div>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="myDirections" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title">Get Directions</h1>
            </div>
            <div class="modal-body">
              <iframe
              width="300"
              height="300"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?q=<%= @hike.latitude %>,<%= @hike.longitude %>&hl=es;z=14&amp;output=embed"
              >
            </iframe>
            <br />
            <small>
              <a
              href="https://maps.google.com/maps?q=<%= @hike.latitude %>,<%= @hike.longitude %>&hl=es;z=14&amp;output=embed"
              style="color:#1B4057;text-align:left"
              target="_blank"
              >
              Navigate with Google Maps
            </a>
          </small>
        </div>
      </div>
    </div>
</div>



<!-- Tab links -->

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Reviews</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Photos</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <div class="slide-show">
    <div class="full hide-scroll">
      <ul class="hss targetDiv">
        <% @hike.reviews.each do |review| %>
        <li class="items">
          <div class="review-card">
            <img class="review-avatar" src= <%= review.user.photo %> >
            <h2> <%= review.user.first_name %></h2>
            <h3><%= review.content %></h3>
            <div class="rating-review">
              <% review.stars.to_i.times do  %>
              <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% review.blank_stars.to_i.times do %>
              <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="Paris" class="tabcontent">
  <div class="slide-show">
    <div class="full hide-scroll">
      <ul class="hss targetDiv">
      <% if @hike.pictures.present? %>
        <% @hike.pictures.each do |picture| %>
        <li class="items">
          <%= cl_image_tag( picture.photo, width: 300, height: 350, class: "scroll-picture") %>
          <%= picture.description %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

</div>
<div class="icon-div">
  <div class="review-btn">
      <% if current_user.present? %>
      <i class="fas fa-pencil-alt" data-toggle="modal" data-target="#myModalReviews"></i>
    <% end %>
  </div>
      <div class="review-btn">
        <% if current_user.present? %>
          <i class="fas fa-camera" data-toggle="modal" data-target="#myModalPicture"></i>
        <% end %>
      </div>
    </div>
  </div>

<script type="text/javascript">
  const setGrids = (count, element) => {
    element.style.gridTemplateColumns = `10px repeat(${count}, calc(100% - var(--gutterhss) * 2)) 10px`;

  }

  const allTargetDivs = document.querySelectorAll('.targetDiv');
  window.onload = setGrids(<%= @hike.reviews.count %>, allTargetDivs[0]);
  window.onload = setGrids(<%= @hike.pictures.count %>, allTargetDivs[1]);
</script>

<script>
  function activateStars(index, classname){
    console.log("clicked a star");
      console.log(index)

    const stars = document.querySelectorAll(".star");
    // console.log(stars);
    // const activeStars = Array.prototype.slice.call(stars).slice(0, index);
    // console.log(activeStars)
    stars.forEach((star, i) => {
      console.log(star);

      star.classList.remove(classname)
      if (i < index) {
      console.log("adding active star class")
      console.log(i)
        star.classList.add(classname)
      }
    })
    if (classname === "active-star") {
    document.getElementById("review_stars").value = index;

    }
  }
  const stars = document.querySelectorAll(".star");
  stars.forEach((star) => {
    star.addEventListener("click", (e) =>{

      // console.log(e.currentTarget)

      const index = e.currentTarget.attributes["value"]
      // console.log(index)

      activateStars(index.value, "active-star")

    })
    star.addEventListener("mouseenter", (e) => {
      const index = e.currentTarget.attributes["value"]
      // console.log(index)

      activateStars(index.value, "temp-active-star")
    })
    star.addEventListener("mouseleave", (e) => {
      const index = e.currentTarget.attributes["value"]
      // console.log(index)

      activateStars(0, "temp-active-star")
    })
  })


function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();

</script>

<%= javascript_pack_tag "zoom" %>
<%= javascript_pack_tag "fade" %>
<%= javascript_pack_tag "checkbox" %>
<%= javascript_pack_tag "tabs" %>
