<div class="box-blue"></div>
<div class="show-name"><%= @hike.name.capitalize %></div>
<%= cl_image_tag(@hike.photo, crop: :fill, class: "show-photo") if @hike.photo.present? %>
<div class="show-info">
  <div class="show-category">
    <p><%= @hike.city %></p>
    <p><%= @hike.length %>hrs</p>
    <p><%= @hike.km %>km</p>
    <p>What to bring</p>
  </div>
  <div class="show-icon">
    <%=image_tag("likee.svg", class: "show-flaticon") %>
  </div>
</div>
<div class="show-description">
  <p><%= @hike.description.capitalize %></p>
</div>




<div class="container">
  <div class="card-trip">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add to Favorites</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Add to favorites</h1>
          </div>
          <div class="modal-body">
            <p>This will add the current hike to your favorites.</p>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-btn-fav">Confirm</button>
        <button type="button" class="btn btn-primary" id="modal-btn-no">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <div class="alert" role="alert" id="result" color="black"></div>

<div class="review-card">

</div>



  <% @hike.reviews.each do |review| %>
   <!--  <img src= <%= review.user.photo %>> -->
    <p>First name: <%= review.user.first_name %></p>
    <p>Last name: <%= review.user.last_name %></p>
    <p>Comment: <%= review.content %></p>
    <p>Start: <%= review.stars %></p>

  <% end %>
</div>
