<%= render 'shared/navbarprofile' %>
<div class="profile-container">
     <%= cl_image_tag(@user.photo, width: 250, height: 250, crop: :thumb, class: "profile-pic") %>

     <div class="card-block">
      <p>
        <strong><%= @user.first_name.capitalize %></strong>
      </p>
     </div>
</div>



<div class="container scroll-review">
  <div class="full hide-scroll">
    <h1>Favourites</h1>
    <ul class="hsss">
      <% @favourites_user.each do |favourite| %>
    <li class="item">
        <%= link_to(hike_path(favourite.hike.id)) do %>
        <% if favourite.hike.photo.present? %>
        <%= cl_image_tag( favourite.hike.photo, height: 236, width: 248, crop: :fill, class: "hike-photo"  )%>
        <h4 class="hike-name-profile"><%= favourite.hike.name.capitalize %>
        </h4>
        <% end %>
        <% end %>
    </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="container slide-show">
  <div class="full hide-scroll">
      <ul class="hss">
      <h1> Photo Gallery </h1>
      <% @pictures_user.each do |picture| %>

    <!--   <img src="<%= picture.photo %>"> -->
    <%= cl_image_tag picture.photo, class: "resize-picture" %>
      <% if picture.user_id == current_user.id %>
        <button type="button" class="btn btn-link"><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, picture_path(picture_id: picture.id), method: :delete, data: {confirm: "Are you sure you want to delete this photo?"}  %></button>
        <% end %>
      <% end %>
  </ul>
  </div>
</div>


<h1>Reviews</h1>
    <% @reviews_user.each do |review| %>
  <div class="review-card">
    <img class="review-avatar" src= <%= review.user.photo %> >
    <h2> <%= review.user.first_name %></h2>
    <h3><%= review.content %></h3>
     <img class="review-avatar" src= <%= review.hike.photo %> >
    <div class="rating-review">
    <% review.stars.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% review.blank_stars.to_i.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
    <button type="button" class="btn btn-link"><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, hike_review_path(hike_id: review.hike.id, id: review.id), method: :delete, data: {confirm: "Are you sure you want to delete this review?"}  %></button>
    </div>
    </div>
    <% end %>
