<%= render 'shared/navbarprofile' %>
<div class="profile-container">
     <%= cl_image_tag(@user.photo, width: 250, height: 250, crop: :thumb, class: "profile-pic") %>


    <div class="card-block">
      <p>
        <strong><%= @user.first_name.capitalize %></strong>
      </p>
    </div>
  </div>
</div>


<div class="container scroll-review">
  <div class="full hide-scroll">
    <h1 style="text-decoration: underline #EF7E56" >Upcoming hikes</h1>
    <ul class="hsss targetDiv">
      <% @favourites_user.each do |favourite| %>
    <li class="item">
        <%= link_to(hike_path(favourite.hike.id)) do %>
        <% if favourite.hike.photo.present? %>
        <%= cl_image_tag( favourite.hike.photo, height: 236, width: 248, crop: :fill, class: "hike-photo"  )%>
        <h4 class="hike-name-profile"><%= favourite.hike.name.capitalize %>
        </h4>
        <% end %>
        <% end %>
    </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="slide-show">
  <div class="full hide-scroll">
    <h1 style="text-decoration: underline #EF7E56">Previous hikes</h1>
      <ul class="hss targetDiv">
      <% @pictures_user.order("id DESC").each do |picture| %>
      <li class="item">
      <div class="scroll-pictures" style= "background-image: url('<%=image_url(picture.photo)%>');height: 45vh; width: 250px;background-size: cover; position: relative" >
        <div class="profile-pictures">
        <h6><%= picture.hike.name %></h6>
        </div>
        <div class="profile-pictures-bottom">
          <div class="profile-pictures-bottom-left">
        <h5><%= picture.description %></h5>
        <h6><%= picture.created_at.strftime("%B %d, %Y") %></h6>
        </div>
        <div class="trash">
      <% if picture.user_id == current_user.id %>
        <button type="button" class="btn btn-link trash-btn"><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, picture_path(picture_id: picture.id), method: :delete, data: {confirm: "Are you sure you want to delete this photo?"}  %></button>
        </div>
        </div>
        <% end %>
      </div>
      </li>
      <% end %>
  </ul>
  </div>
</div>


<script type="text/javascript">
  const setGrids = (count, element) => {
    element.style.gridTemplateColumns = `10px repeat(${count}, calc(100% - var(--gutter) * 2)) 10px`;
  }
  const allTargetDivs = document.querySelectorAll('.targetDiv');
  window.onload = setGrids(<%= @favourites_user.count %>, allTargetDivs[0]);
    window.onload = setGrids(<%= @pictures_user.count %>, allTargetDivs[1]);
</script>
