<div class="profile-container">
     <%= cl_image_tag(current_user.photo, width: 250, height: 250, crop: :thumb, class: "profile-pic") %>

     <div class="card-block">
      <p>
        <strong><%= current_user.first_name.capitalize %></strong>
      </p>
     </div>
</div>



<div class="container scroll-review">
  <div class="full hide-scroll">
    <h1>Favourites</h1>
    <ul class="hsss">
      <% @favourites_user.each do |favourite| %>
    <li class="item">
        <%= link_to(hike_path(favourite.hike.id)) do %>
        <% if favourite.hike.photo.present? %>
        <%= cl_image_tag( favourite.hike.photo, height: 236, width: 248, crop: :fill, class: "hike-photo"  )%>
        <h4 class="hike-name-profile"><%= favourite.hike.name.capitalize %>
        </h4>
        <% end %>
        <% end %>
    </li>
    <% end %>
    </ul>
  </div>
</div>
