<%= render 'shared/navbarprofile' %>
<div class="profile-container">
<div class="hideme">
     <%= cl_image_tag(current_user.photo, width: 250, height: 250, crop: :thumb, class: "profile-pic") %>

    <div class="card-block">
      <p>
        <strong><%= current_user.first_name.capitalize %></strong>
      </p>
    </div>
  </div>
</div>


<div class="container scroll-review">
  <div class="full hide-scroll">
    <h1>Upcoming hikes</h1>
    <ul class="hsss targetDiv">
      <% @favourites_user.each do |favourite| %>
    <li class="item">
        <%= link_to(hike_path(favourite.hike.id)) do %>
        <% if favourite.hike.photo.present? %>
        <%= cl_image_tag( favourite.hike.photo, height: 236, width: 248, crop: :fill, class: "hike-photo"  )%>
        <h4 class="hike-name-profile"><%= favourite.hike.name.capitalize %>
        </h4>
        <% end %>
        <% end %>
    </li>
    <% end %>
    </ul>
  </div>
</div>


    <script type="text/javascript">

  const setGrids = (count) => {
    const element = document.querySelector('.targetDiv');
    element.style.gridTemplateColumns = `10px repeat(${count}, calc(100% - var(--gutter) * 2)) 10px`;

  }
  window.onload = setGrids(<%= @favourites_user.count %>);


</script>
